<p id="notice"><%= notice %></p>

<% @gifs.each do |gif| %>

  <article class="o-post">
    <h1 class="o-post__heading a-heading a-heading--dark">
      <a class="a-heading--link"><%= gif.title %></a>
    </h1>
    <a>
      <img class="o-post__image a-image" src="<%= gif.url %>" width="500" height="299">
    </a>
  </article>
<% end %>
