<!DOCTYPE html>
<html>
  <head>
    <title>Gifted</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'themes/one/all', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="o-header">
        <svg class="o-header__menu-main-icon a-icon a-icon--light" id="menu-main-icon">
            <use xlink:href="symbol-defs.svg#icon-menu"></use>
        </svg>
        <div class="m-menu-main" id="menu-main">
            <a class="m-menu-main__item a-link a-link--light" href="about.html">About</a>
            <a class="m-menu-main__item a-link a-link--light" href="submit.html">Submit</a>
        </div>

        <div class="a-logo"></div>

        <div class="m-menu-account" id="menu-account">
            <a class="m-menu-account__link a-link a-link--light" href="login.html">Log In</a>
            <button class="m-menu-account__button a-button a-button--light">Sign Up</button>
        </div>
        <svg class="o-header__menu-account-icon a-icon a-icon--light" id="menu-account-icon">
            <use xlink:href="symbol-defs.svg#icon-more_vert"></use>
        </svg>
    </header>
    <main class="o-content">
        <aside class="o-sidebar">
            <section class="o-sidebar__section">
                <h3 class="o-sidebar__title">Advertisement</h3>
                <img class="o-sidebar__image a-image" src="img/fake.jpg" width="500" height="299">
            </section>

            <section class="o-sidebar__section">
                <h3 class="o-sidebar__title">Hot on gifted:</h3>
                <div>
                    <img class="o-sidebar__image a-image" src="img/fake.jpg" width="500" height="299">
                </div>
                <h2 class="a-subheading a-subheading--dark"><a>Fake bugfix</a></h2>
                <div>
                    <img class="o-sidebar__image a-image" src="img/cat.jpg" width="1600" height="800">
                </div>
                <h2 class="a-subheading a-subheading--dark"><a>Top 10 binary numbers</a></h2>
            </section>
        </aside>

      <%= yield %>
    </main>

    <!-- <div class="a-overlay" id="overlay"></div> -->

    <footer>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </footer>
  </body>
</html>
